.fullscreen{
  width: 100vw;
  height: 100dvh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: radial-gradient(rgba(84, 110, 227, 0.1) 1.5px, transparent 1.5px);
  background-size: 10px 10px;
  background-color: #dadada;
}
