@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}
html{
  font-size: 15px;
}
@media only screen and (min-width:801px){
  html{    font-size: 15px;  }
}
@media only screen and (min-width:1201px){
  html{    font-size: 17px;  }
}